<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>League of Legends</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    {% include "containers/client_loading.html.twig" %}
    {% include "containers/window_buttons.html.twig" %}
    {% include "containers/client_login.html.twig" %}
    {% include "modals/settings_modal.html.twig" %}
  </body>
</html>
