<div id="clientContent">
    <div id="clientContent_mainArea">
        <div id="clientContent_menu">
            <video id="clientContent_menu_leagueLogo"></video>
            <div id="clientContent_menu_playButtonContainer">
                <video id="clientContent_menu_playButton"></video>
                <video id="clientContent_menu_playButtonOverlay"></video>
                <div id="clientContent_menu_playButton_textOverlay">Jouer</div>
            </div>
        </div>
    </div>

    <div id="clientContent_socialArea">
        <div id="clientContent_socialArea_user">
            <div id="clientContent_socialArea_user_profileIcon"></div>
            <div id="clientContent_socialArea_user_level"></div>
            <div id="clientContent_socialArea_user_name"></div>
            <div id="clientContent_socialArea_user_status"></div>
        </div>
    </div>
</div>
