<div id="clientLoading">
    <div id="clientLoading_ring"></div>
    <div id="clientLoading_logo"></div>
    <div id="clientLoading_progressText">CHARGEMENT</div>
    <div id="clientLoading_progressBar">
        <div id="clientLoading_currentProgress"></div>
    </div>
</div>
