<div id="clientContent">
    <div id="clientContent_menu">
        <video id="clientContent_menu_leagueLogo"></video>
        <div id="clientContent_menu_lobbyButtonContainer">
            <video id="clientContent_menu_lobbyButton"></video>
            <video id="clientContent_menu_lobbyButtonOverlay"></video>
            <div id="clientContent_menu_lobbyButton_textOverlay">Jouer</div>
        </div>
    </div>

    <div id="clientContent_mainArea">
        <!-- todo -->
    </div>

    <div id="clientContent_socialArea">
        <!-- todo -->
    </div>
</div>
