<div id="clientContent">
    <div id="clientContent_mainArea">
        <div id="clientContent_menu">
            <video id="clientContent_menu_leagueLogo"></video>
            <div id="clientContent_menu_playButtonContainer">
                <video id="clientContent_menu_playButton"></video>
                <video id="clientContent_menu_playButtonOverlay"></video>
                <div id="clientContent_menu_playButton_textOverlay">Jouer</div>
            </div>
        </div>
    </div>

    <div id="clientContent_socialArea">
        <div id="clientContent_socialArea_user">
            <div id="clientContent_socialArea_user_profileIcon"></div>
            <div id="clientContent_socialArea_user_levelContainer">
                <div id="clientContent_socialArea_user_level"></div>
            </div>
            <div id="clientContent_socialArea_user_name"></div>
            <div id="clientContent_socialArea_user_status">
                <div id="clientContent_socialArea_user_statusIcon"></div>
                <div id="clientContent_socialArea_user_statusText">En ligne</div>
            </div>
        </div>

        <!-- todo: friends list not implemented message -->

        <div id="clientContent_socialArea_footer">
            <div id="clientContent_socialArea_footer_chatButton"></div>
            <div id="clientContent_socialArea_footer_missionsButton"></div>
            <div id="clientContent_socialArea_footer_voiceButton"></div>
            <div id="clientContent_socialArea_footer_leagueVersion"></div>
            <div id="clientContent_socialArea_footer_bugReportButton"></div>
        </div>
    </div>
</div>
