<div id="clientContent">
    <div id="clientContent_mainArea">
        <div id="clientContent_menu">
            <div id="clientContent_menu_playButtonFrame"></div>
            <video id="clientContent_menu_leagueLogo"></video>
            <div id="clientContent_menu_playButtonContainer">
                <video id="clientContent_menu_playButton"></video>
                <video id="clientContent_menu_playButtonOverlay"></video>
                <div id="clientContent_menu_playButton_textOverlay">Jouer</div>
            </div>
            <div id="clientContent_menuActiveElementPointer"></div>

            <div id="clientContent_menu_leftArea">
                <div class="clientContent_menuElement clientContent_menuActiveElement">Accueil</div>
                <div class="clientContent_menuElement">TFT</div>
            </div>

            <div id="clientContent_menu_rightArea">
                <div class="clientContent_menuElement"><div id="clientContent_menu_clashIcon" class="clientContent_menuIcon"></div></div>
                <div class="clientContent_menuElement"><div id="clientContent_menu_profileIcon" class="clientContent_menuIcon"></div></div>
                <div class="clientContent_menuElement"><div id="clientContent_menu_collectionIcon" class="clientContent_menuIcon"></div></div>
                <div class="clientContent_menuSeparator">|</div>
                <div class="clientContent_menuElement"><div id="clientContent_menu_lootIcon" class="clientContent_menuIcon"></div></div>
                <div class="clientContent_menuElement"><div id="clientContent_menu_shopIcon" class="clientContent_menuIcon"></div></div>
                <div class="clientContent_menuSeparator">|</div>
                <div id="clientContent_menuMoney">
                    <div id="clientContent_menuMoney_rp" class="clientContent_menuMoney_line">
                        <div id="clientContent_moneyRP"></div> 0 <div id="clientContent_moneyRP_quickBuyButton"></div>
                    </div>
                    <div class="clientContent_menuMoney_line">
                        <div id="clientContent_moneyEB"></div> 0
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="clientContent_socialArea">
        <div id="clientContent_socialArea_user">
            <div id="clientContent_socialArea_user_profileIcon"></div>
            <div id="clientContent_socialArea_user_levelContainer">
                <div id="clientContent_socialArea_user_level"></div>
            </div>
            <div id="clientContent_socialArea_user_name"></div>
            <div id="clientContent_socialArea_user_status">
                <div id="clientContent_socialArea_user_statusIcon"></div>
                <div id="clientContent_socialArea_user_statusText">En ligne</div>
            </div>
        </div>

        <div id="clientContent_socialArea_notificationButton"></div>

        <div id="clientContent_socialArea_friendsList">
            <div id="clientContent_socialArea_friendsList_errorPoroImage"></div>
            <div id="clientContent_socialArea_friendsList_errorMessage">La liste d'amis et les fonctionnalités liées au chat (textuel ou vocal) ne sont pas disponibles dans cette reproduction du client de LoL.</div>
        </div>

        <div id="clientContent_socialArea_footer">
            <div id="clientContent_socialArea_footer_chatButton"></div>
            <div id="clientContent_socialArea_footer_missionsButton"></div>
            <div id="clientContent_socialArea_footer_voiceButton"></div>
            <div id="clientContent_socialArea_footer_leagueVersion"></div>
            <div id="clientContent_socialArea_footer_bugReportButton"></div>
        </div>
    </div>
</div>
