#settingsModal_client_generalSettings_windowSizeContainer, #settingsModal_client_generalSettings_newsLanguageContainer {
  width: 220px;

  .form_select_optionsContainer {
    width: 218px;
  }
}

#settingsModal_client_generalSettings_conductCodeLink {
  margin-top: 8px;
}