#settingsModal_client_audioSettings_audioGlobalVolumeContainer, #settingsModal_client_audioSettings_sfxVolumeContainer, #settingsModal_client_audioSettings_musicVolumeContainer {
  margin-top: -15px;
}

#settingsModal_client_audioSettings_enableSfxContainer {
  margin-top: -18px;
}

#settingsModal_client_audioSettings_enableAmbientSoundsContainer, #settingsModal_client_audioSettings_enableChampSelectMusicContainer {
  margin-top: -16px;
}

#settingsModal_client_audioSettings_sfxVolume, #settingsModal_client_audioSettings_musicVolume {
  width: 365px;
}
