.form_inputText_group {
  width: 100%;

  label {
    width: 100%;
    color: #949f95;
    font-size: 12px;
    font-family: 'Spiegel', serif;
    font-weight: 400;
    font-style: normal;
  }

  input[type=text] {
    width: calc(100% - 16px);
    padding: 7px 6px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #785a28, #785a28);
    margin-top: 7px;
    background: linear-gradient(180deg, #000306 0%, #000306 100%);
    color: #acaaa6;
    font-size: 12px;
    font-family: 'Spiegel', serif;
    font-weight: 600;
    font-style: normal;
    outline: none;
  }

  input[type=text]:focus {
    border-image-source: linear-gradient(180deg, #785a28, #c7a96d);
    background: linear-gradient(180deg, #040a12 0%, #161e25 100%);
  }
}
