<div id="clientContent_page_home" class="clientContent_page clientContent_pageActive">
    <div id="clientContent_page_home_menu" class="clientContent_pageMenu">
        <div id="clientContent_page_home_menu_preview" class="clientContent_page_home_pageMenuItem clientContent_pageMenuItem clientContent_pageMenuItemActive" data-page="preview">Aperçu</div>
        <div id="clientContent_page_home_menu_patchnotes" class="clientContent_page_home_pageMenuItem clientContent_pageMenuItem" data-page="patchnotes">Notes de patch</div>
    </div>

    <div id="clientContent_page_home_preview" class="clientContent_pageTab clientContent_pageTabActive">
        preview
    </div>

    <div id="clientContent_page_home_patchnotes" class="clientContent_pageTab">
        patchnotes
    </div>
</div>