#settingsModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 998;

  #settingsModal_externalBorder {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 672px;
    height: 592px;
    border: 2px solid #463714;
    border-radius: 10px;
    background-color: #010a13;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
  }

  #settingsModal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 698px;
    height: 582px;
    border: 2px solid #463714;
    background-color: #010a13;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;

    @import "settings_modal/header";

    #settingsModal_settingsArea {
      display: flex;
      width: 100%;
      height: 467px;
      margin-top: 8px;
      margin-bottom: 31px;

      #settingsModal_settingsArea_menu, #settingsModal_settingsArea_elements {
        height: 467px;
      }

      #settingsModal_settingsArea_menu {
        width: 159px;
        margin-right: 25px;
        overflow-x: hidden;
        overflow-y: scroll;

        @import "../ui/scrollbar";

        .settingsModal_settingsMenuGroupName, .settingsModal_settingsMenuItem {
          height: 32px;
          line-height: 32px;
        }

        .settingsModal_settingsMenuGroupName {
          width: calc(100% - 18px);
          padding-left: 18px;
          color: #949f95;
          font-size: 12px;
          font-family: 'Spiegel', serif;
          font-weight: 400;
          font-style: normal;

          &:not(:first-child) {
            margin-top: 5px;
          }
        }

        .settingsModal_settingsMenuItem {
          width: calc(100% - 18px);
          padding-left: 18px;
          border-left: 0 solid #c89b3c;
          color: #cdbe91;
          font-family: 'Beaufort for LoL';
          font-weight: 700;
          font-style: normal;
          font-size: 12px;
          text-transform: uppercase;
          line-height: 32px;
          transition: all 0.5s;

          &.active {
            width: calc(100% - 23px);
            padding-left: 20px;
            color: #f0e6d2;
            border-left: 3px solid #c89b3c;
          }

          &:not(.active):hover {
            background-color: #1e2328;
            color: #f0e6d2;
          }
        }
      }

      #settingsModal_settingsArea_elements {
        width: 490px;
        color: #949f95;
        font-size: 12px;
        font-family: 'Spiegel', serif;
        font-weight: 400;
        font-style: normal;
        overflow-x: hidden;
        overflow-y: scroll;

        @import "../ui/scrollbar";

        .settingsModal_settingsArea_elementsList:not(#settingsModal_client_generalSettingsArea) {
          display: none;
        }

        .settingsModal_settingsArea_element {
          margin-bottom: 20px;
        }

        .settingsModal_settingsArea_subElement_level1 {
          margin-left: 25px;
        }

        .settingsModal_settingsArea_subElement_level2 {
          margin-left: 50px;
        }

        h3 {
          font-family: 'Beaufort for LoL', serif;
          font-weight: bold;
          font-style: normal;
          font-size: 16px;
          line-height: 32px;
          text-transform: uppercase;
          color: #f0e6d2;
        }

        .settingsModal_doubleColumn {
          width: 100%;
          display: flex;
          gap: 0 5%;

          label {
            width: 105%;
          }
        }

        .settingsModal_doubleColumn_col1 {
          width: 35%
        }

        .settingsModal_doubleColumn_col2 {
          width: 60%;
        }

        hr {
          border: none;
          border-top: 1px solid #1e2328;
          color: #1e2328;
        }

        @import "settings_modal/client_general";
        @import "settings_modal/client_audio";
      }
    }

    #settingsModal_closeButtonArea {
      width: 104px;
      height: 11px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: #010a13;
      border-left: 2px solid #463714;
      border-right: 2px solid #463714;
      transform: rotateX(180deg);
    }

    #settingsModal_closeButton {
      width: 100px;
      transform: rotateX(180deg);
    }
  }
}
