<div id="settingsModal">
    <div id="settingsModal_externalBorder"></div>
    <div id="settingsModal_content">
        <div id="settingsModal_header">
            <div id="settingsModal_title">
                <span id="settingsModal_secondaryTitle">Client /</span> <span id="settingsModal_primaryTitle">Général</span>
            </div>
            <div id="settingsModal_reinitArea">
                <button class="defaultButton small" id="settingsModal_reinitButton">Réinitialiser</button>
            </div>
        </div>

        <div id="settingsModal_settingsArea">
            <div id="settingsModal_settingsArea_menu">
                <div class="settingsModal_settingsMenuGroupName">Client</div>
                <div class="settingsModal_settingsMenuItem active" data-area="Client" data-tab="settingsModal_client_generalSettingsArea">Général</div>
                <div class="settingsModal_settingsMenuItem" data-area="Client" data-tab="settingsModal_client_notificationsSettingsArea">Notifications</div>
                <div class="settingsModal_settingsMenuItem" data-area="Client" data-tab="settingsModal_client_messagesSettingsArea">Messagerie & amis</div>
                <div class="settingsModal_settingsMenuItem" data-area="Client" data-tab="settingsModal_client_audioSettingsArea">Audio</div>
                <div class="settingsModal_settingsMenuItem" data-area="Client" data-tab="settingsModal_client_vocalChatSettingsArea">Chat vocal</div>
                <div class="settingsModal_settingsMenuItem" data-area="Client" data-tab="settingsModal_client_blockedUsersSettingsArea">Liste des bloqués</div>

                <div class="settingsModal_settingsMenuGroupName">En jeu</div>
                <div class="settingsModal_settingsMenuItem" data-area="En jeu" data-tab="settingsModal_game_shortcutsSettingsArea">Raccourcis</div>
                <div class="settingsModal_settingsMenuItem" data-area="En jeu" data-tab="settingsModal_game_audioSettingsArea">Audio</div>
                <div class="settingsModal_settingsMenuItem" data-area="En jeu" data-tab="settingsModal_game_interfaceSettingsArea">Interface</div>
                <div class="settingsModal_settingsMenuItem" data-area="En jeu" data-tab="settingsModal_game_gameSettingsArea">Jeu</div>
                <div class="settingsModal_settingsMenuItem" data-area="En jeu" data-tab="settingsModal_game_replaysSettingsArea">Rediffusions</div>

                <div class="settingsModal_settingsMenuGroupName">À propos</div>
                <div class="settingsModal_settingsMenuItem" data-area="À propos" data-tab="settingsModal_about_privacySettingsArea">Confidentialité</div>
                <div class="settingsModal_settingsMenuItem" data-area="À propos" data-tab="settingsModal_about_tosSettingsArea">CGU</div>
                <div class="settingsModal_settingsMenuItem" data-area="À propos" data-tab="settingsModal_about_thirdPartyLicensesSettingsArea">Licences tierces</div>
                <div class="settingsModal_settingsMenuItem" data-area="À propos" data-tab="settingsModal_about_versionSettingsArea">Version</div>
            </div>

            <div id="settingsModal_settingsArea_elements">
                <div id="settingsModal_client_generalSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <div id="settingsModal_client_generalSettings_conductCode" class="settingsModal_settingsArea_element">
                        <p>Code de conduite de League of Legends</p>
                        <a href="#" id="settingsModal_client_generalSettings_conductCodeLink">Voir sur Internet <i class="external_link"></i></a>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_generalSettings_lowConfigModeContainer">
                        <input type="checkbox" id="settingsModal_client_generalSettings_lowConfigMode" name="settingsModal_client_generalSettings_lowConfigMode" />
                        <label for="settingsModal_client_generalSettings_lowConfigMode">Activer le mode config basse</label>
                    </div>

                    <div class="form_select_group settingsModal_settingsArea_element" id="settingsModal_client_generalSettings_closeClientDuringGameContainer">
                        <label>Fermer le client pendant la partie</label>

                        <div class="form_select">
                            <span class="form_select_selectedOption" id="settingsModal_client_generalSettings_closeClientDuringGame" data-value="off">Jamais</span>
                        </div>

                        <div class="form_select_optionsContainer">
                            <div class="form_select_option" data-value="on">Toujours</div>
                            <div class="form_select_option" data-value="auto">Si nécessaire</div>
                            <div class="form_select_option" data-value="off">Jamais</div>
                        </div>
                    </div>

                    <div id="settingsModal_client_generalSettings_phoneNumberCheck" class="settingsModal_settingsArea_element">
                        <p>Vérification du compte</p>
                        <div id="settingsModal_client_generalSettings_phoneNumberCheck_currentState">
                            <div id="settingsModal_client_generalSettings_phoneNumberCheck_phone"></div>
                            <div id="settingsModal_client_generalSettings_phoneNumberCheck_checkmark"></div>
                            <div id="settingsModal_client_generalSettings_phoneNumberCheck_state">Vérifié</div>
                        </div>
                        <button class="defaultButton small" id="settingsModal_client_generalSettings_phoneNumberCheck_removePhoneNumber">Supprimer le numéro</button>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_generalSettings_autoCrashReportContainer">
                        <input type="checkbox" id="settingsModal_client_generalSettings_autoCrashReport" name="settingsModal_client_generalSettings_autoCrashReport" />
                        <label for="settingsModal_client_generalSettings_autoCrashReport">Envoi automatique des rapports de plantage</label>
                    </div>

                    <div class="form_select_group settingsModal_settingsArea_element" id="settingsModal_client_generalSettings_windowSizeContainer">
                        <label>Taille de la fenêtre</label>

                        <div class="form_select">
                            <span class="form_select_selectedOption" id="settingsModal_client_generalSettings_windowSize" data-value="1280x720">1280x720</span>
                        </div>

                        <div class="form_select_optionsContainer">
                            <!--<div class="form_select_option" data-value="1024x586">1024x586</div>-->
                            <div class="form_select_option selected" data-value="1280x720">1280x720</div>
                            <!--<div class="form_select_option" data-value="1600x900">1600x900</div>-->
                        </div>
                    </div>

                    <div class="form_select_group settingsModal_settingsArea_element" id="settingsModal_client_generalSettings_newsLanguageContainer">
                        <label>Langue des actualités</label>

                        <div class="form_select">
                            <span class="form_select_selectedOption" id="settingsModal_client_generalSettings_newsLanguage" data-value="1280x720">1280x720</span>
                        </div>

                        <div class="form_select_optionsContainer">
                            <div class="form_select_option selected" data-value="fr">Français</div>
                        </div>
                    </div>
                </div>

                <div id="settingsModal_client_notificationsSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_disableEsportNotificationContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_disableEsportNotification" name="settingsModal_client_notificationsSettings_disableEsportNotification" />
                        <label for="settingsModal_client_notificationsSettings_disableEsportNotification">Désactiver les notifications e-sport</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_onlyFriendsInvitesContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_onlyFriendsInvites" name="settingsModal_client_notificationsSettings_onlyFriendsInvites" />
                        <label for="settingsModal_client_notificationsSettings_onlyFriendsInvites">Autoriser les invitations des amis uniquement</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_disableNewIconInCollectionContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_disableNewIconInCollection" name="settingsModal_client_notificationsSettings_disableNewIconInCollection" />
                        <label for="settingsModal_client_notificationsSettings_disableNewIconInCollection">Désactiver les marqueurs de nouveauté dans Collection</label>
                    </div>
                </div>

                <div id="settingsModal_client_messagesSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_enableLanguageFilterContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_enableLanguageFilter" name="settingsModal_client_notificationsSettings_enableLanguageFilter" />
                        <label for="settingsModal_client_notificationsSettings_enableLanguageFilter">Activer le filtre langage</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_enableClickLinkAdvertContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_enableClickLinkAdvert" name="settingsModal_client_notificationsSettings_enableClickLinkAdvert" />
                        <label for="settingsModal_client_notificationsSettings_enableClickLinkAdvert">Prévenir quand je clique sur un lien (messagerie)</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_enableMoreUnreadBarContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_enableMoreUnreadBar" name="settingsModal_client_notificationsSettings_enableMoreUnreadBar" />
                        <label for="settingsModal_client_notificationsSettings_enableMoreUnreadBar">Afficher la barre "Plus de non lus"</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_notificationsSettings_displayMessagesFromFriendInvitesContainer">
                        <input type="checkbox" id="settingsModal_client_notificationsSettings_displayMessagesFromFriendInvites" name="settingsModal_client_notificationsSettings_displayMessagesFromFriendInvites" />
                        <label for="settingsModal_client_notificationsSettings_displayMessagesFromFriendInvites">Afficher les messages des nouvelles demandes d'amis</label>
                    </div>
                </div>

                <div id="settingsModal_client_audioSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_audioSettings_enableAudioContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableAudio" name="settingsModal_client_audioSettings_enableAudio" />
                        <label for="settingsModal_client_audioSettings_enableAudio">Activer le son</label>
                    </div>

                    <div class="form_range_group settingsModal_settingsArea_element" id="settingsModal_client_audioSettings_audioGlobalVolumeContainer">
                        <label for="settingsModal_client_audioSettings_audioGlobalVolume">Volume général : <span id="settingsModal_client_audioSettings_audioGlobalVolumeValue">100</span></label>
                        <input type="range" value="100" min="0" max="100" id="settingsModal_client_audioSettings_audioGlobalVolume" name="settingsModal_client_audioSettings_audioGlobalVolume" />
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level1" id="settingsModal_client_audioSettings_enableSfxContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableSfx" name="settingsModal_client_audioSettings_enableSfx" />
                        <label for="settingsModal_client_audioSettings_enableSfx">Activer les effets sonores</label>
                    </div>

                    <div class="form_range_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level1" id="settingsModal_client_audioSettings_sfxVolumeContainer">
                        <label for="settingsModal_client_audioSettings_sfxVolume">Volume des effets : <span id="settingsModal_client_audioSettings_sfxVolumeValue">100</span></label>
                        <input type="range" value="100" min="0" max="100" id="settingsModal_client_audioSettings_sfxVolume" name="settingsModal_client_audioSettings_sfxVolume" />
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level2" id="settingsModal_client_audioSettings_enableAmbientSoundsContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableAmbientSounds" name="settingsModal_client_audioSettings_enableAmbientSounds" />
                        <label for="settingsModal_client_audioSettings_enableAmbientSounds">Jouer les sons d'ambiance</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level2" id="settingsModal_client_audioSettings_enableChampSelectionSoundsContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableChampSelectionSounds" name="settingsModal_client_audioSettings_enableChampSelectionSounds" />
                        <label for="settingsModal_client_audioSettings_enableChampSelectionSounds">Jouer les tirades de sélection</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level2" id="settingsModal_client_audioSettings_enableBanSoundsContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableBanSounds" name="settingsModal_client_audioSettings_enableBanSounds" />
                        <label for="settingsModal_client_audioSettings_enableBanSounds">Jouer les tirades de bannissement</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level1" id="settingsModal_client_audioSettings_enableMusicContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableMusic" name="settingsModal_client_audioSettings_enableMusic" />
                        <label for="settingsModal_client_audioSettings_enableMusic">Activer la musique</label>
                    </div>

                    <div class="form_range_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level1" id="settingsModal_client_audioSettings_musicVolumeContainer">
                        <label for="settingsModal_client_audioSettings_musicVolume">Volume de la musique : <span id="settingsModal_client_audioSettings_musicVolumeValue">100</span></label>
                        <input type="range" value="100" min="0" max="100" id="settingsModal_client_audioSettings_musicVolume" name="settingsModal_client_audioSettings_musicVolume" />
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level2" id="settingsModal_client_audioSettings_enableChampSelectMusicContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableChampSelectMusic" name="settingsModal_client_audioSettings_enableChampSelectMusic" />
                        <label for="settingsModal_client_audioSettings_enableChampSelectMusic">Jouer la musique de sélection des champions</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element settingsModal_settingsArea_subElement_level2" id="settingsModal_client_audioSettings_enableLobbyMusicContainer">
                        <input type="checkbox" id="settingsModal_client_audioSettings_enableLobbyMusic" name="settingsModal_client_audioSettings_enableLobbyMusic" />
                        <label for="settingsModal_client_audioSettings_enableLobbyMusic">Jouer la musique du salon/de fin de partie</label>
                    </div>
                </div>

                <div id="settingsModal_client_vocalChatSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <h3>Quand je rejoins un groupe</h3>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_autoJoinLeagueVoiceContainer">
                        <input type="checkbox" id="settingsModal_client_vocalChatSettings_autoJoinLeagueVoice" name="settingsModal_client_vocalChatSettings_autoJoinLeagueVoice" />
                        <label for="settingsModal_client_vocalChatSettings_autoJoinLeagueVoice">Rejoindre le chat vocal automatiquement</label>
                    </div>

                    <div class="form_checkbox_group settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_disableMicWhenAutoJoinContainer">
                        <input type="checkbox" id="settingsModal_client_vocalChatSettings_disableMicWhenAutoJoin" name="settingsModal_client_vocalChatSettings_disableMicWhenAutoJoin" />
                        <label for="settingsModal_client_vocalChatSettings_disableMicWhenAutoJoin">Couper mon micro quand je me connecte à League Voice</label>
                    </div>

                    <h3>Paramètres d'entrée</h3>

                    <div class="form_select_group settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_listeningDeviceContainer">
                        <label>Périphérique d'entrée</label>

                        <div class="form_select">
                            <span class="form_select_selectedOption" id="settingsModal_client_generalSettings_listeningDevice" data-value="default">Périphérique par défaut</span>
                        </div>

                        <div class="form_select_optionsContainer"></div>
                    </div>

                    <div class="form_range_group settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_inputVolumeContainer">
                        <label for="settingsModal_client_vocalChatSettings_inputVolume">Volume d'entrée (gain) : <span id="settingsModal_client_vocalChatSettings_inputVolumeValue">50</span>%</label>
                        <input type="range" value="50" min="0" max="100" id="settingsModal_client_vocalChatSettings_inputVolume" name="settingsModal_client_vocalChatSettings_inputVolume" />
                    </div>

                    <hr>

                    <h3>Mode d'entrée</h3>

                    <div class="settingsModal_doubleColumn">
                        <div class="settingsModal_doubleColumn_col1">
                            <fieldset class="form_radio_group">
                                <div class="settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_inputMode_automaticDetectionContainer">
                                    <input type="radio" id="settingsModal_client_vocalChatSettings_inputMode_automaticDetection" name="settingsModal_client_vocalChatSettings_inputMode" checked value="1" />
                                    <label for="settingsModal_client_vocalChatSettings_inputMode_automaticDetection">Activité vocale</label>
                                </div>

                                <div class="settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_inputMode_pushToTalkContainer">
                                    <input type="radio" id="settingsModal_client_vocalChatSettings_inputMode_pushToTalk" name="settingsModal_client_vocalChatSettings_inputMode" value="2" />
                                    <label for="settingsModal_client_vocalChatSettings_inputMode_pushToTalk">Appuyer pour parler</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="settingsModal_doubleColumn_col1">
                            <div class="form_range_group settingsModal_settingsArea_element" id="settingsModal_client_vocalChatSettings_vocalActivationThresholdContainer">
                                <label for="settingsModal_client_vocalChatSettings_vocalActivationThreshold">Seuil de l'activation vocale : <span id="settingsModal_client_vocalChatSettings_vocalActivationThresholdValue">66</span>%</label>
                                <input type="range" value="66" min="0" max="100" id="settingsModal_client_vocalChatSettings_vocalActivationThreshold" name="settingsModal_client_vocalChatSettings_vocalActivationThreshold" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="settingsModal_client_blockedUsersSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: blocked users settings -->
                </div>

                <div id="settingsModal_game_shortcutsSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: shortcuts settings -->
                </div>

                <div id="settingsModal_game_audioSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: in-game audio settings -->
                </div>

                <div id="settingsModal_game_interfaceSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: interface settings -->
                </div>

                <div id="settingsModal_game_gameSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: game settings -->
                </div>

                <div id="settingsModal_game_replaysSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: replays settings -->
                </div>

                <div id="settingsModal_about_privacySettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: privacy area from settings -->
                </div>

                <div id="settingsModal_about_tosSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: tos area from settings -->
                </div>

                <div id="settingsModal_about_thirdPartyLicensesSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: third-party licences area from settings -->
                </div>

                <div id="settingsModal_about_versionSettingsArea" class="settingsModal_settingsArea_elementsList">
                    <!-- todo: version area from settings -->
                </div>
            </div>
        </div>

        <div id="settingsModal_closeButtonArea">
            <button class="defaultButton" id="settingsModal_closeButton">Terminé</button>
        </div>
    </div>
</div>
