<div id="simpleConfirmModal">
    <div id="simpleConfirmModal_content">
        <div id="simpleConfirmModal_messageArea">
            Cette reproduction du client de League of Legends est partiellement fictive. Les données affichées sont récupérées depuis les serveurs de Riot Games, mais il n'est pas possible pour cette reproduction de créer de réelles parties.
            <br /><br />
            De plus, cette reproduction ne prend en compte que ce qui concerne League of Legends : Teamfight Tactics n'est pas inclus (au moins pour le moment) dans ce programme.
        </div>

        <div id="simpleConfirmModal_closeButtonArea">
            <button class="defaultButton" id="simpleConfirmModal_closeButton">OK</button>
        </div>
    </div>
</div>
