<div id="simpleConfirmModal">
    <div id="simpleConfirmModal_content">
        <div id="simpleConfirmModal_messageArea">Cette reproduction du client de League of Legends est partiellement fictive. Les données affichées sont récupérées depuis les serveurs de Riot Games, mais il n'est pas possible pour cette reproduction de créer de réelles parties.</div>

        <div id="simpleConfirmModal_closeButtonArea">
            <button class="defaultButton" id="simpleConfirmModal_closeButton">OK</button>
        </div>
    </div>
</div>
