@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("../../../fonts/BeaufortForLoL/BeaufortforLOL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
