#clientContent_menu_leftArea {
  position: absolute;
  top: 0;
  left: 217px;
  width: fit-content;
  height: 79px;
  display: flex;
  gap: 0;
  flex-direction: row;

  .clientContent_menuElement {
    padding-left: 5px;
    padding-right: 5px;
  }
}

#clientContent_menu_rightArea {
  position: absolute;
  top: 0;
  right: 17px;
  width: fit-content;
  height: 79px;
  display: flex;
  gap: 0;
  flex-direction: row;

  .clientContent_menuElement {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.clientContent_menuElement {
  min-width: 54px;
  height: 79px;
  font-family: 'Beaufort for LoL';
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 83px;
  color: #c2b58b;
  background-image: url("../../../../../img/containers/client_content/main_area/menu/menu_elementhighlight.png");
  background-position: 0 90px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all 0.25s;

  .clientContent_menuIcon {
    background-color: #cdbe91;
  }
}

.clientContent_menuElement:hover, .clientContent_menuElement.clientContent_menuActiveElement {
  color: #eee4d0;
  background-position: bottom center;

  .clientContent_menuIcon {
    background-color: #f0e6d2;
  }
}

#clientContent_menuActiveElementPointer {
  position: absolute;
  top: -1px;
  left: 241px;
  width: 28px;
  height: 15px;
  background-image: url("../../../../../img/containers/client_content/main_area/menu/menu_elementpointer.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.clientContent_menuSeparator {
  width: 2px;
  height: 100%;
  background-image: url("../../../../../img/containers/client_content/main_area/menu/menu_separator.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2px 58px;
}