#clientContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 2px);
  background-color: #010a13;
  z-index: 996;
  border-top: 2px solid #715c36;
  display: none;

  #clientContent_mainArea {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: 100vh;
    background-color: #010a13;

    #clientContent_menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 79px;
      border-bottom: 1px solid #3c474e;
      z-index: 990;

      #clientContent_menu_leagueLogo {
        position: absolute;
        top: 13px;
        left: 17px;
        width: 64px;
        height: 54px;
      }

      @import "client_content/menu/playbutton";
      @import "client_content/menu/elements";
      @import "client_content/menu/icons";
      @import "client_content/menu/money";
    }

    #clientContent_menuBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 112px;
      background: linear-gradient(180deg, rgba(1, 10, 19, 1) 0%, rgba(1, 10, 19, 0.66) 71.43%, rgba(1, 10, 19, 0) 100%);
      z-index: 988;
    }

    .clientContent_page, .clientContent_pageTab {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .clientContent_page {
      height: calc(100% - 80px);
      padding-top: 80px;
    }

    .clientContent_pageTab {
      height: calc(100% - 115px);
      padding-top: 115px;
    }

    .clientContent_pageTab:not(.clientContent_pageTabActive) {
      display: none;
    }

    .clientContent_pageMenu {
      position: absolute;
      top: 86px;
      left: 0;
      width: calc(100% - 96px);
      height: 23px;
      z-index: 989;
      display: flex;
      gap: 20px;
      padding-left: 48px;
      padding-right: 48px;

      .clientContent_pageMenuItem {
        width: fit-content;
        height: 23px;
        font-family: 'Beaufort for LoL';
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #c2b58b;
        line-height: 23px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .clientContent_pageMenuItemActive, .clientContent_pageMenuItem:hover {
        color: #eee4d0;
      }

      .clientContent_pageMenuItemActive {
        background-image: url('../../../img/containers/client_content/main_area/pages/pagemenu_active.png');
        background-position: bottom center;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }

    @import "client_content/pages/home";
  }

  #clientContent_socialArea {
    position: absolute;
    top: 0;
    right: 0;
    width: 224px;
    height: 100vh;
    background-color: #010a13;

    @import "client_content/socialarea/user";

    #clientContent_socialArea_notificationButton {
      position: absolute;
      top: 50px;
      right: 16px;
      width: 12px;
      height: 16px;
      background-image: url('../../../img/containers/client_content/social_area/socialarea_notificationbutton.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.33;
    }

    @import "client_content/socialarea/friends_list";
    @import "client_content/socialarea/footer";
  }
}
