#clientContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 2px);
  background-color: #010a13;
  z-index: 996;
  border-top: 2px solid #715c36;
  display: none;

  #clientContent_mainArea {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: 100vh;
    background-color: #010a13;

    #clientContent_menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 79px;
      border-bottom: 1px solid #3c474e;
      z-index: 990;

      #clientContent_menu_leagueLogo {
        position: absolute;
        top: 13px;
        left: 17px;
        width: 64px;
        height: 54px;
      }

      @import "client_content/menu/playbutton";
      @import "client_content/menu/elements";
      @import "client_content/menu/icons";
      @import "client_content/menu/money";
    }
  }

  /*#clientContent_mainArea:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("../../../img/Capture d'écran 2024-01-05 174739.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
  }*/

  #clientContent_socialArea {
    position: absolute;
    top: 0;
    right: 0;
    width: 224px;
    height: 100vh;
    background-color: #010a13;

    @import "client_content/socialarea/user";

    #clientContent_socialArea_notificationButton {
      position: absolute;
      top: 50px;
      right: 16px;
      width: 12px;
      height: 16px;
      background-image: url('../../../img/containers/client_content/social_area/socialarea_notificationbutton.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.33;
    }

    @import "client_content/socialarea/friends_list";
    @import "client_content/socialarea/footer";
  }
}
