#clientContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 2px);
  background-color: #010a13;
  z-index: 996;
  border-top: 2px solid #715c36;
  display: none;

  #clientContent_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #3c474e;
    z-index: 990;

    #clientContent_menu_leagueLogo {
      position: absolute;
      top: 13px;
      left: 17px;
      width: 64px;
      height: 54px;
    }

    @import "client_content/menu/playbutton.scss";
  }

  #clientContent_mainArea {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 224px);
    height: 100vh;
    background-image: url("../../../img/Capture d'écran 2023-12-29 061948.png");
    opacity: 0.5;
  }

  #clientContent_socialArea {
    position: absolute;
    top: 0;
    right: 0;
    width: 224px;
    height: 100vh;
    background-image: url("../../../img/Capture d'écran 2023-12-29 061948.png");
    background-position: center right;
    opacity: 0.5;
  }
}
